<html><!-- fazer fundo de mar demonstrando produndeza -->
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/index.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_2.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/i18n/en_US.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/method.min.js"></script>
</head>
<body style="width: 1075px;">

    <div class="vditor-reset" id="preview">

    <h1 id="Basic Concepts of Artificial Intelligence - Python and AI">Basic Concepts of Artificial Intelligence
        <a id="vditorAnchor-PYTHON-AND-AI" class="vditor-anchor" href="#PYTHON-AND-AI">
            <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
            </svg>
        </a>
    </h1>
    <h3>What is Deep Learning?
    </h3>
    <div>
        <a id="vditorAnchor-What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-" class="vditor-anchor" href="#What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-">
            <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
            </svg>
        </a>
    </div>
    <div class="topic">
        <hr/>
        <h2 style="text-align: left;">Concept</h2>
        <blockquote>{{ topic_16|safe }}</blockquote>
    </div>
    <div class="topic">
        <hr />
        <blockquote>
        Deep Learning is a branch of Artificial Intelligence (AI) that enables machines to learn from large amounts of data.
        It uses neural networks with many layers to automatically find patterns and make predictions.
        It is very useful for tasks like image recognition, language translation, and speech processing.
        Deep learning models learn directly from data, without the need for manual feature extraction.
        Popular applications of Deep Learning include self-driving cars, chatbots, medical image analysis, and recommendation systems.
        </blockquote>
    </div>
    <div class="topic">
        <hr />

        <h2 style="text-align: left;">Introduction to Neural Networks</h2>

        <blockquote>
        {{ topic_17|safe }}
        </blockquote>

            <blockquote>
                <ul> Biological Neurons vs Artificial Neurons </ul>
                <ul> Single Layer Perceptron </ul>
                <ul> Multi-Layer Perceptron </ul>
                <ul> Artificial Neural Networks (ANNs) </ul>
            </blockquote>

    </div>
    <div class="topic">
        <hr />

        <h2 style="text-align: left;">Basic Components of Neural Networks</h2>

        <blockquote>
            {{ topic_18|safe }}
        </blockquote>

            <blockquote>
            <ul> Neurons </ul>
            <ul> Layers in Neural Networks </ul>
            <ul> Weights and Biases </ul>
            <ul> Forward Propagation </ul>
            <ul> Activation Functions </ul>
            <ul> Loss Functions </ul>
            <ul> Backpropagation </ul>
            <ul> Learning Rate </ul>
            </blockquote>

    </div>
        <h2 style="text-align: left;">Example</h2>

        {{ topic_19|safe }}

        <hr>


</div>
<!-- Botões de navegação -->
<div>
    <a href="/TEST_page_3_4">BACK</a>
    <a href="/TEST_page_3_6">NEXT</a>
</div>
<a href="/">Back to the home page</a>
<!-- Botões de navegação -->

<!-- Formulário com botão para redirecionar para a página 3_1 -->
<form action="{{ url_for('TEST_page_3_5') }}" method="get">
    <button type="submit">Go to Next topic</button>
</form>

<script>
    const previewElement = document.getElementById('preview');
    Vditor.setContentTheme('idea-light', 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/css/content-theme');
    Vditor.codeRender(previewElement);
    Vditor.highlightRender({"enable":true,"lineNumber":false,"style":"dracula"}, previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
    Vditor.mathRender(previewElement, { cdn: 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor',math: {"engine":"KaTeX","inlineDigit":true,"macros":{}}});
    Vditor.mermaidRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
    Vditor.flowchartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
    Vditor.graphvizRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
    Vditor.chartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
    Vditor.mindmapRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
    Vditor.abcRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
    Vditor.mediaRender(previewElement);
    Vditor.speechRender(previewElement);
</script>
<script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/icons/ant.js"></script></body>
</html>