/* ... */

body {
    font-family: Arial, sans-serif;
    background-color: #A9A9A9; /* Cinza Escuro */
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Animação de Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

h1 {
    color:#000000; /* Branco */
}

h2 {
    color: #32cd32; /* Verde Lima */
}

p {
    line-height: 1.6;
    color: #4682b4; /* Azul Aço */
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

button {
    background-color: #90EE90; /* Verde Claro */
    color: black;
    border: 2px solid #4CAF50; /* Borda verde */;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: auto; /* Ajusta a largura ao conteúdo */
    height: auto; /* Ajusta a altura ao conteúdo */
}

button:hover {
    background-color: #5cb85c;
}

#loading {
    display: none;
    color: #ff69b4; /* Rosa Choque */
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Estilos adicionais para a página de curso */
.course-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.course-content h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}
.course-content p {
    line-height: 1.8;
    color: #555;
}
.course-content ul {
    list-style-type: disc;
    padding-left: 20px;
}
.course-content li {
    margin-bottom: 5px;
}

/* Barra de navegação */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilo para formulários */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
/* Ajustes de campos brancos */
form input[type="text"],
form input[type="number"],
form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="radio"] {
    margin-right: 10px;
}

/* Estilo para rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 90%;
}

/* Estilo para cabeçalhos */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 0.5em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.0em;
    margin-bottom: 10px;
}
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: rgba(240, 248, 255, 1); /* Gelo */
}

.background-animation span {
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 10px;
    animation: move 10s linear infinite;
}

@keyframes move {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(50vh) translateX(50vw);
    }
}
/* Efeito de digitação */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}