<!DOCTYPE html>
<html>
<head>
    <title>Conceitos Básicos de IA - Áudio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Basic Concepts of Artificial Intelligence - Audio</h1>
    <p>{{ content }}</p>

    <audio controls>
        <source src="path_to_audio_file.mp3" type="audio/mpeg">
    </audio>

    <a href="/">Back to the home page</a>

    <!-- Formulário com botão para redirecionar para a página test_2 -->
    <form action="{{ url_for('test_2', AQ1=AQ1, AQ2=AQ2) }}" method="get">
        <button type="submit">Ir para Test 2</button>
    </form>

    <!-- Botões de navegação -->
    <div>
        <a href="/test_1">BACK</a>
        <a href="/test_2">NEXT</a>
    </div>

</body>
</html>