<!-- developing, but running -->

<!DOCTYPE html>
<html>
<head>
    <title>Knowledge TEST 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Knowledge TEST 1</h1>
    <form method="POST" action="/page_2">
        <label for="AQ1">What is AI?</label><br>
        <input type="radio" id="ai_ai1" name="AQ1" value="Artificial Intelligence" required>
        <label for="ai_ai1">Artificial Intelligence</label><br>
        <input type="radio" id="ai_ai2" name="AQ1" value="Automated Interface" required>
        <label for="ai_ai2">Automated Interface</label><br>
        <input type="radio" id="ai_ai3" name="AQ1" value="Advanced Integration" required>
        <label for="ai_ai3">Advanced Integration</label><br><br>

        <label for="AQ2">Describe the subtopics of AI?</label><br>
        <input type="radio" id="ml_ml" name="AQ2" value="Machine Learning" required>
        <label for="ml_ml">Machine Learning</label><br>
        <input type="radio" id="ann_ann" name="AQ2" value="Artificial Neural Networks" required>
        <label for="ann_ann">Artificial Neural Networks</label><br>
        <input type="radio" id="nlp_nlp" name="AQ2" value="Natural Language Processing" required>
        <label for="nlp_nlp">Natural Language Processing</label><br>
        <input type="radio" id="cv_cv" name="AQ2" value="Computer Vision" required>
        <label for="cv_cv">Computer Vision</label><br><br>

        <button type="submit">Send answers</button>
    </form>

    <!-- Botões de navegação -->
    <div>
        <a href="/">BACK</a>
        <a href="/page_3">NEXT</a>
        <a href="/">Back to the home page</a>
    </div>

</body>
</html>