<!-- developing, but running -->

<!DOCTYPE html>
<html>
<head>
    <title>Teste de Conhecimento</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Knowledge TEST 1</h1>
    <form method="POST" action="/test_1">
        <label for="AQ1">What is AI?</label><br>
        <input type="radio" id="ai" name="AQ1" value="Artificial Intelligence" required>
        <label for="ai">Artificial Intelligence</label><br>
        <input type="radio" id="ai" name="AQ1" value="Automated Interface" required>
        <label for="ai">Automated Interface</label><br>
        <input type="radio" id="ai" name="AQ1" value="Advanced Integration" required>
        <label for="ai">Advanced Integration</label><br><br>

        <label for="AQ2">Describe the subtopics of AI?</label><br>
        <input type="radio" id="ml" name="AQ2" value="Machine Learning" required>
        <label for="ml">Machine Learning</label><br>
        <input type="radio" id="ann" name="AQ2" value="Artificial Neural Networks" required>
        <label for="ann">Artificial Neural Networks</label><br>
        <input type="radio" id="nlp" name="AQ2" value="Natural Language Processing" required>
        <label for="nlp">Natural Language Processing</label><br>
        <input type="radio" id="cv" name="AQ2" value="Computer Vision" required>
        <label for="cv">Computer Vision</label><br><br>

        <input type="submit" value="Go to course">
        <a href="/">Home page</a>
    </form>

    <!-- Botões de navegação -->
    <div>
        <a href="/">BACK</a>
        <a href="/course">NEXT</a>
    </div>

</body>
</html>