<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/index.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_2.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/i18n/en_US.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/method.min.js"></script>
</head>
<body style="width: 1075px;">

    <div class="vditor-reset" id="preview">

        <h1 id="Basic Concepts of Artificial Intelligence - Python and AI">Basic Concepts of Artificial Intelligence - Python and AI
            <a id="vditorAnchor-PYTHON-AND-AI" class="vditor-anchor" href="#PYTHON-AND-AI">
                <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                    <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                </svg>
            </a>
        </h1>
        <h3 >What is Machine Learning?
            <hr />
            <a id="vditorAnchor-What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-" class="vditor-anchor" href="#What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-">
                <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                    <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                </svg>
            </a>
        </h3>
            <div class="topic">
            <hr />
            {{ topic_8|safe }}
            <hr />
            </div><br>

                <div class="topic">
                <hr />
                    <blockquote>
                    {{ topic_9|safe }}
                    </blockquote>
                </div><br>

                <div class="topic">
                <hr />
                Módule 1
                </div><br>

                    <blockquote>
                        <p>Supervised Learning: Trains models on labeled data to predict or classify new, unseen data.</p>
                        <p>Unsupervised Learning: Finds patterns or groups in unlabeled data, like clustering or dimensionality reduction.</p>
                        <p>Reinforcement Learning: Learns through trial and error to maximize rewards, ideal for decision-making tasks.</p>
                        <p>In addition, these categories, there are also Semi-Supervised Learning and Self-Supervised Learning.</p>
                        <p>Semi-Supervised Learning uses a mix of labeled and unlabeled data, making it helpful when labeling data is costly or time-consuming.</p>
                        <p>Self-Supervised Learning creates its own labels from raw data, allowing it to learn patterns without needing labeled examples.</p>
                    </blockquote><br>

                <div class="topic">
                <hr />
                Machine Learning Pipeline
                </div><br>

                    <div class="topic">
                    <blockquote>
                    {{ topic_10|safe }}
                    </blockquote>

                        <BLOCKQUOTE>
                            ML workflow
                            Data Cleaning
                            Feature Scaling
                            Data Preprocessing in Python
                        </BLOCKQUOTE><br>

                <div class="topic">
                <hr />
                Módule 2
                </div><br>

                    <div class="topic">
                    <hr />
                    What is Supervised Machine Learning?
                    </div><br>

                        <div class="topic">
                        <hr />
                        {{ topic_11|safe }}
                        </div><br>



                <div class="topic">
                <hr />
                Módule 3
                </div><br>

                        <blockquote>
                        What is Unsupervised Learning?
                        </blockquote>

                            <UL>

                            </UL>

                        <div class="topic">
                        <hr />
                            <blockquote>
                            {{ topic_12|safe }}
                            </blockquote>
                        </div><br>

                        <div class="topic">
                        <hr />
                            <blockquote>
                            The image shows set of animals: elephants, camels, and cows that represents raw data that the unsupervised learning algorithm will process.
                            </blockquote>
                        </div><br>

                        <ul>
                            The “Interpretation” stage signifies that the algorithm doesn’t have predefined labels or categories for the data. It needs to figure out how to group or organize the data based on inherent patterns.
                            Algorithm represents the core of unsupervised learning process using techniques like clustering, dimensionality reduction, or anomaly detection to identify patterns and structures in the data.
                            Processing stage shows the algorithm working on the data.
                        </ul>

                        <div class="topic">
                        <hr />
                            The output shows the results of the unsupervised learning process. In this case, the algorithm might have grouped the animals into clusters based on their species (elephants, camels, cows).
                        </div><br>


            <div class="topic">
            <hr />
            {{ topic_13|safe }}
            </div><br>

            <div class="topic">
            <hr />
            {{ topic_14|safe }}
            </div><br>

             <!-- RASCUNHO e fazendo para cima-->
            <!-- titulo OK -->
            MOD 1(INTRO) - (TOPIC 8)

                <!-- titulo (GENERAL) OK -->
                (TOPIC 9) "three types"

                    <!-- topicos (MODULES)  OK -->
                    Supervised Learning: Trains models on labeled data to predict or classify new, unseen data.
                    Unsupervised Learning: Finds patterns or groups in unlabeled data, like clustering or dimensionality reduction.
                    Reinforcement Learning: Learns through trial and error to maximize rewards, ideal for decision-making tasks.
                    In addition, these categories, there are also Semi-Supervised Learning and Self-Supervised Learning.
                    Semi-Supervised Learning uses a mix of labeled and unlabeled data, making it helpful when labeling data is costly or time-consuming.
                    Self-Supervised Learning creates its own labels from raw data, allowing it to learn patterns without needing labeled examples.

                <!-- titulo OK-->
                (Machine Learning Pipeline)

                    <!-- SUBtitulo OK -->
                    (TOPIC 10)

                        <!-- topicos OK -->
                        ML workflow
                        Data Cleaning
                        Feature Scaling
                        Data Preprocessing in Python
            <!-- TITULO OK -->
            MOD 2

                <!-- Subtitulo ok-->
                (What is Supervised Machine Learning?)
                    <!-- conteudo OK-->
                    (TOPIC 11)

            <!-- Subtitulo OK-->
            MOD 3

                (What is Unsupervised Learning?)
                    <!-- conteudo ok-->
                    (TOPIC 12)
                    <!-- conteudo/SUBSUBTITULO ok-->
                    The image shows set of animals: elephants, camels, and cows that represents raw data that the unsupervised learning algorithm will process.
                        <!-- TOPICOS  ok  -->
                        The “Interpretation” stage signifies that the algorithm doesn’t have predefined labels or categories for the data. It needs to figure out how to group or organize the data based on inherent patterns.
                        Algorithm represents the core of unsupervised learning process using techniques like clustering, dimensionality reduction, or anomaly detection to identify patterns and structures in the data.
                        Processing stage shows the algorithm working on the data.
                        <!-- CONCLUSÃO ok -->
                        The output shows the results of the unsupervised learning process. In this case, the algorithm might have grouped the animals into clusters based on their species (elephants, camels, cows).

            MOD 4
            <!-- SUBTITULO-->
            (What is Reinforcement Learning)
                (TOPIC 13)
                (image d)
                (TOPIC 14)
                <!-- topicos-->
                Agent: The decision-maker that performs actions.
                Environment: The world or system in which the agent operates.
                State: The situation or condition the agent is currently in.
                Action: The possible moves or decisions the agent can make.
                Reward: The feedback or result from the environment based on the agent’s action.

            MOD 5(CONCLUSION)
                Features of Machine Learning
                    Machine Learning is the field of study that gives computers the capability to learn without being explicitly programmed.
                    It is similar to data mining, as both deal with substantial amounts of data.
                    For large organizations, branding is crucial, and targeting a relatable customer base becomes easier.
                    Given a dataset, ML can detect various patterns in the data.
                    Machines can learn from past data and automatically improve their performance.
                    Machine learning is a data-driven technology. A large amount of data is generated by organizations daily, enabling them to identify notable relationships and make better decisions.


        <div class="topic">
            <hr />
            {{ topic_1_2|safe }}
        </div>
        <div class="topic">
            <hr />
            {{ topic_1_3|safe }}
        </div>
        <div class="topic">
            <hr />
            {{ topic_1_4|safe }}
        </div>

    <div class="course-content">
    </div>
    <!-- Botões de navegação -->
    <div>
        <a href="/page_3">BACK</a>
        <a href="/page_3_2">NEXT</a>
    </div>
    <a href="/">Back to the home page</a>
    <!-- Botões de navegação -->

    <!-- Formulário com botão para redirecionar para a página 3_1 -->
    <form action="{{ url_for('page_3_2') }}" method="get">
        <button type="submit">Go to Next topic</button>
    </form>

    </div>
    <script>
        const previewElement = document.getElementById('preview');
        Vditor.setContentTheme('idea-light', 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/css/content-theme');
        Vditor.codeRender(previewElement);
        Vditor.highlightRender({"enable":true,"lineNumber":false,"style":"dracula"}, previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.mathRender(previewElement, { cdn: 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor',math: {"engine":"KaTeX","inlineDigit":true,"macros":{}}});
        Vditor.mermaidRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.flowchartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.graphvizRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.chartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.mindmapRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.abcRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.mediaRender(previewElement);
        Vditor.speechRender(previewElement);
    </script>
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/icons/ant.js"></script>
</body>
</html>