<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/index.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_2.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/i18n/en_US.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/method.min.js"></script>
</head>
<body >

    <div class="vditor-reset" id="preview">

        <h1 id="Basic Concepts of Artificial Intelligence - Python and AI">Basic Concepts of Artificial Intelligence - AI
            <a id="vditorAnchor-PYTHON-AND-AI" class="vditor-anchor" href="#PYTHON-AND-AI">
                <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                    <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.
                    91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1
                     0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1
                     .09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                </svg>
            </a>
        </h1>
        <h3 > What is AI?
            <hr />
            <div class="video-container">
        <video autoplay loop muted playsinline width="640" height="360">
            <source src="{{ url_for('static', filename='videos/d.mp4') }}" type="video/mp4">
        </video>
    </div>
            <a id="vditorAnchor-What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-" class="vditor-anchor" href="#What-is-Python-and-why-is-it-important-for-Artificial-Intelligence-">
                <svg viewBox="0 0 16 16" version="1.1" width="16" height="16">
                    <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                </svg>
            </a>
        </h3>
        <div class="topic">
            <blockquote>
                {{ topic_1|safe }}
            </blockquote>
        </div>
        <div class="topic">
            <hr />
            <img class="fade-in" src="{{ url_for('static', filename='images/A.png') }}" alt="Imagem A">
        </div>
        <div class="topic">
            <hr />
            <h2>The practical applications of artificial intelligence (AI) today are vast and span various fields. Here are some of the main ones:</h2>
            <ul>
                <li>Virtual Assistants: Assistants like Siri, Alexa, and Google Assistant use AI to understand and respond to voice commands, perform tasks, and provide information.</li>
                <li>Image and Video Recognition: Facial recognition tools, medical image analysis, and surveillance systems use AI to identify and classify objects and people.</li>
                <li>Autonomous Vehicles: Self-driving cars, such as those developed by Tesla and Waymo, use AI to navigate and make real-time decisions.</li>
            </ul>
        </div>
        <div class="topic">
            <hr />
            <br />
            <img class="fade-in" src="{{ url_for('static', filename='images/B.png') }}" alt="Imagem B">
        </div>
        <br />
        <br />
        <br />
    <!-- Botões de navegação -->
    <div>
        <a href="/page_3">BACK</a>
        <a href="/page_3_2">NEXT</a>
    </div>
    <a href="/">Back to the home page</a>
    <!-- Botões de navegação -->

    <!-- Formulário com botão para redirecionar para a página 3_1 -->
    <form action="{{ url_for('TEST_page_3_2') }}">
        <button type="submit" style="width: 400px;">Go to Next topic</button>
    </form>
    </div>

    <div class="background-animation"></div>

    <script>
        const previewElement = document.getElementById('preview');
        Vditor.setContentTheme('idea-light', 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/css/content-theme');
        Vditor.codeRender(previewElement);
        Vditor.highlightRender({"enable":true,"lineNumber":false,"style":"dracula"}, previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.mathRender(previewElement, { cdn: 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor',math: {"engine":"KaTeX","inlineDigit":true,"macros":{}}});
        Vditor.mermaidRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.flowchartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.graphvizRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.chartRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.mindmapRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor', 'light');
        Vditor.abcRender(previewElement, 'https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor');
        Vditor.mediaRender(previewElement);
        Vditor.speechRender(previewElement);
    </script>
    <script src="https://cdn.jsdelivr.net/gh/shuzijun/markdown-editor@2.0.5/src/main/resources/vditor/dist/js/icons/ant.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.background-animation');
        const characters = '0123456789';
        const numChars = 100;

        for (let i = 0; i < numChars; i++) {
            const span = document.createElement('span');
            span.textContent = characters.charAt(Math.floor(Math.random() * characters.length));
            span.style.left = `${Math.random() * 100}vw`;
            span.style.top = `${Math.random() * 100}vh`;
            span.style.animationDuration = `${Math.random() * 10 + 5}s`;
            container.appendChild(span);
        }
    });
    </script>
</body>
</html>